<section class="feedback-cta | base-section" data-color="primary">
  <div class="center">
    <div class="split">
      <div>
        <h2>We Value Your Feedback!</h2>
        <p>Your insights are essential to helping us improve the GrantWell tool. We’re committed to making GrantWell as effective and user-friendly as possible, and we’ll do our best to incorporate your feedback into future updates. Thank you for helping us make GrantWell better for everyone!</p>
      </div>
      <div>
        <a href="#" class="button" size="l" color="white">Feedback</a>
      </div> 
    </div>
</div>
</section>
