<div class="footer | base-section" data-color="base">
  <div class="center">
    <div class="split">
      <div>
        <h2>Our Affiliations</h2>
        <p>GrantWell is proudly owned by the Burnes Center for Social Change.</p>
      </div>
      <div class="logos | cluster">
        <img src="assets/burnes-center-logo.png" alt="Burnes Center for Social Change">
        <img src="assets/northeastern-university-logo.png" alt="Burnes Center for Social Change">
      </div>
    </div>
    
  </div>
</div>
