<div class="hero">
  <div class="center stack">
    <div class="brand | split">
      <img src="assets/grantwell-logo.png" alt="Grantwell Logo">
      <h2 class="tagline">An AI tool to help Massachusetts communities secure federal grants</h2>
    </div>

    <div class="form | stack | align:center">
      <div class="group search">
        <input type="search" placeholder="Find a Notice of Funding Opportunity Document (NOFO)" list="nofos">

        <datalist id="nofos">
          <option value="CCG NOFO">
          <option value="Charging and Fueling Infrastructure Discretionary Grant NOFO">
          <option value="Rebuilding American Infrastructure with Sustainability and Equity">
        </datalist>
      </div>
      <div class="cluster">
        <button class="button" data-visual="primary" data-color="primary">View Key Requirements</button>
        <a href="/chat" class="button" data-visual="primary" data-color="primary">Start Chat</a>
      </div>
    </div>
  </div>
</div>
