
<section class="base-section">
  <div class="center stack">
    <h2>Recently Viewed</h2>

    <div class="grid">
      {% for i in range(1, 5) %}
      <div class="card">
        <h3><a href="#">Charging and Fueling Infrastructure Discretionary Grant NOFO</a></h3>
        <p>Last viewed: 11/20/2024, 1:53:34 PM</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
