<section class="base-section" data-color="primary-5">
  <div class="stack center">
    
    <h2>Resources</h2>

    <div class="grid">
      <div class="card">
        <h3><a href="#">Register for Federal Funds Partnership Meetings</a></h3>
        <p>Stay updated on funding opportunities by joining our monthly sessions</p>
      </div>
      <div class="card">
        <h3><a href="#">Federal Grant Application Resources</a></h3>
        <p>Access categorized grant resources for streamlined applications.</p>
      </div>
      <div class="card">
        <h3><a href="#">Federal Grant Finder</a></h3>
        <p>Enhanced search and collaboration tools to optimize access to grants.</p>
      </div>
    </div>
  </div>
</section>

