<div class="sidebar">
  <div class="sidebar__section sidebar__chat">
    <h3><a href="/chat">Chat</a></h3>
  </div>

  <div class="sidebar__section sidebar__requirements">
    <h3>Key Requirements</h3>
    
    <!-- @ToDo: Implement the logic to add the "aria-current" attr to the correct link -->
    <p><a href="/docs" aria-current="true">Project Narrative Components</a></p> 
    <p><a href="/docs">Eligibility Criteria</a></p>
    <p><a href="/docs">Documents Required</a></p>
    <p><a href="/docs">Key Deadlines</a></p>
  </div>

  <div class="sidebar__section sidebar__dropzone">
    <h3>Files</h3>
    <!-- @ToDo: Implement the logic to make the Dropzone work for files -->
    <p>Drag and drop relevant files here, to better inform the AI Assistant.</p>
  </div>

  <div class="sidebar__section sidebar__history">
    <h3>View History</h3>
  </div>
</div>
