<div class="top-bar">
  <h1 class="top-bar__logo"><a href="/">GrantWell</a></h1>
  <nav class="top-bar__menu">
    <ul class="cluster"> 
      <li><a href="/docs">Docs</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Admins</a></li>
      <li><a href="#">User</a></li>
    </ul>
  </nav>
</div>
