
<section class="base-section" data-size="s">
  <div class="center">
      <div class="card | split" data-align="baseline">
        <div>
          <h3>Upload Document</h3>
          <p>Et provident eos adipisci maxime vitae dignissimos reprehenderit amet, itaque nisi tempora ullam odio officia</p>
        </div>
        <a class="button" data-color="primary" >Upload Document</a>
      </div>
    </div>
  </div>
</section>
