.app-layout[layout="sidebar"] {
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top-bar"
    "main";
}

@media screen and (min-width: 468px) {
  .app-layout[layout="sidebar"] {
    grid-template-columns: minmax(200px, 20vw) 1fr;
    grid-template-areas:
      "top-bar top-bar"
      "sidebar main";
  }

  .app-layout__sidebar {
    grid-area: sidebar;
  }

  .app-layout__top-bar {
    grid-area: top-bar;
  }
  .app-layout__main {
    grid-area: main;
    overflow-y: auto;
  }
}
