.feedback-cta {
  h2 {
    text-align: left;
  }

  .split > :first-child {
    max-width: 75%;
  }
}

.footer {
  h2 {
    text-align: left;
  }

  .split > :first-child {
    max-width: 40%;
  }

  img {
    max-width: 150px;
  }
}

.chat-section {
  height: 100%;
  padding: var(--space-xl-2xl);
  background-color: var(--base-color-02-tint);
}

.docs-section {
  padding-block: var(--space-l-xl);
}
