.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: var(--space-2xs-xs);
  padding-inline: var(--space-m-l);
  background-color: var(--primary-color);
  color: var(--white-color);
  flex-wrap: wrap;
  gap: var(--space-xs-s);

  ul,
  li {
    margin: 0;
  }

  li {
    list-style: none;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  a {
    font-weight: 300;
  }
}
