---
layout: "_layouts/base.njk"
---

<div class="app-layout" layout="sidebar">  
  <header class="app-layout__top-bar">
    {% include "top-bar.njk" %}
  </header>

  <aside class="app-layout__sidebar">
    {% include "sidebar.njk" %}
  </aside>

  <main class="app-layout__main">
    {% include "chat-section.njk" %}
  </main>
</div>







