---
layout: "_layouts/base.njk"
---
<div class="app-layout">  
  <header class="app-layout__top-bar">
    {% include "top-bar.njk" %}
  </header>
  <main class="app-layout__main">
    {% include "hero.njk" %}
    
    {% include "recent.njk" %} <!-- @ToDo: The Recent section only appears if the user has recent NOFOs. We never show an empty section -->
    
    {% include "upload.njk" %} 
    {% include "resources.njk" %}
    {% include "feedback-cta.njk" %}
  </main>
  <footer class="app-layout__footer">
    {% include "footer.njk" %}
  </footer>
</div>






